.page {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  padding: 28px 0 24px;
  display: grid;
  grid-template: repeat(3, auto) /1fr;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px){
  .page {
    padding: 16px 0 24px;
  }
}
