.header__lang {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
  column-gap: 18px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  align-self: end;
}

@media (max-width: 767px){
  .header__lang {
    align-self: center;
  }

}
