.cover__overlay {
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer;
  text-decoration: none;
  grid-column: 2/3;
  position: relative;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(42, 44, 47, 0.3);
  opacity: 1;
}

.cover__overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(42, 44, 47, 0.8);
  opacity: 0;
  transition: all .5s ease;
}

.cover__overlay:hover::after {
  opacity: 1;
}
