.cover__title {
  grid-row: 2/3;
  margin: 0 auto;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  align-self: end;
  z-index: 2;
}


@media screen and (max-width: 767px) {
  .cover__title {
    line-height: 1.09;
    font-size: 32px;
    max-width: 255px;
  }
}
